#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.myInlineDecoration {
  color: red !important;
  cursor: pointer;
  text-decoration: underline;
}

.search-container {
  height: 10vh;
  max-width: 100vh;

  .search-input {
      border: 1px solid gray;
      padding: 5px;
      border-radius: 5px;
  }

  label {
    display: none;
  }

  .error-message {
    color: red;
  }
}
